
AnvilFile/obj
AnvilFile/bin
MineCity2000/obj
MineCity2000/bin
MineCity2000-GUI/obj
MineCity2000-GUI/bin
MinecraftEditor/obj
MinecraftEditor/bin
SimCityReader/obj
SimCityReader/bin
*.user
*.suo
.vs
~$building_stats.xlsx